<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/Dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a routerLink="/Purchase" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Purchase' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Sales')">
                <span><i class="fa fa-th-list"></i>&nbsp; {{ 'Sales' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Sales'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Sales Entry' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Credit Note' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Credit Note Copy' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Masters')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Masters' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Masters'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['./product']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]= "{exact: true}"><span>{{ 'Product' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Customer' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Supplier' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Executive' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Area' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Receipts')">
                <span><i class="fa fa-file-o"></i>&nbsp; {{ 'Receipts/Payments' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Receipts'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Receipt' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Receipt Summary' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Outstanding Area Wise' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Outstanding Customer Wise' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Area' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Reports' | translate }}
        </a>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Settings' | translate }}
        </a>
        
    </ul>
</nav>
