<div class="row container">
    <div class="col-sm-6">
        <form role="form">
            <fieldset class="form-group">
                <label>Product Name</label>
                <input class="form-control"/>
            </fieldset>
            <fieldset class="form-group">
                <label>MRP</label>
                <input class="form-control"/>
            </fieldset>
            <fieldset class="form-group">
                <label>Rate</label>
                <input class="form-control"/>
            </fieldset>
            <fieldset class="form-group">
                <label>Cost</label>
                <input class="form-control"/>
            </fieldset>
            <fieldset class="form-group">
                <label>Vat %</label>
                <input class="form-control"/>
            </fieldset>
        </form>
    </div>
</div>